<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="mySound1" class="by.overone.Audi">

    </bean>
    <bean id="mySound2" class="by.overone.Tesla">

    </bean>
    <bean id="myDriver" class="by.overone.Driver">
        <constructor-arg ref="mySound1"/>

    </bean>
</beans>